#navbar {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(120, 162, 162);
  position: fixed;
  width: 100vw;
  /* gap: 100px; */
  z-index: 1;
  opacity: 0.9;
  font-size: 20px;

}

@media only screen and (max-width: 576px) {
  #navbar {
    display: flex !important;
    /* flex-direction: column !important; */
    gap: 5px;
    justify-content: center;
    align-items: center;

  }
  .links{
    display: none !important;
  }


}

@media only screen and (max-width: 768px) {
  #navbar {
    display: flex !important; 
    gap: 5px;
    justify-content: space-around !important;
    align-items: center;

  }
  #profile{
    width: 400px !important;
  }

}
/* @media only screen and (max-width: 2024px) {
  #navbar {
    display: flex !important; 
    gap: 1px;
    justify-content: space-around !important;
    align-items: center;

  }

} */
.links {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;

  font-style: none;
  font-weight: 700;
  text-decoration: none;

}
.links2 {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}



.link:hover {
  color: orange;
  transition: all 0.4s;
  /* background-color: orange; */


}

.sidebar {
  z-index: 2;
  position: absolute;
  background-color: rgb(120, 162, 162);
  top:0;
  right: 0;
  width: 250px;
  height: 100vh;
  transition: all 0.4s;
  margin: 0;
  padding: 0;
  display: none;
}
.sidebar--open {
  display: block;

}

.backdrop--open {
  display: block;
}
.side{
  text-decoration: none;
  color:white;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  /* border-bottom: 2px solid rgba(0, 0, 0, 0.5); */
}

.list:hover {
  color: rgb(97, 97, 220);
  transition: all 0.4s;
}

.list {
  list-style: none;
  display: flex;
  color: white;
  align-items: center;
  font-size: 20px;
  gap: 30px;
  padding: 20px;
  border-bottom: 2px solid rgb(120, 162, 162);
}

#toolbar {
  display: flex;
  gap: 20px;
  position: relative;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1;

}

.sidebar--open {
 
  display: block;

}

.backdrop--open {
  display: block;
}


#toolbar {
  color: white;
  width: 100px;
  text-align: center;
  align-self: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
}

#x-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
#empty{
  position: relative;
}
#qty{
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: red;
  font-size: 15px;
  width: 20px;
  border-radius: 10px;
}
#view{
  height: 100vh;
  background-color: rgb(229, 255, 255);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
#profile{
  height: 900px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  /* gap:20px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 80px;
  box-shadow: 5px 10px 25px grey;
}
.profile{
  color: rgb(97, 97, 220);
  font-size: 22px;
  font-weight: 3000px;
}
#details{
  width: 300px;
}
#update{
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgb(0, 208, 255);
}
#log{
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgb(0, 208, 255);
}
.profileShow{
  display: flex;
  justify-content:space-between;
  height: 40px;
  /* align-items: center; */
}
#profileBtn{
  display: flex;
  justify-content:space-between;
  margin-top: 50px;
}
.profileImg{
  width: 150px;
  height: 150px;
}
#edit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#edit h3{
  color: rgb(97, 97, 220);
}
.profileShow1{
  background-color: rgb(0, 208, 255);
  color: white;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-radius: 50px;
  font-size: 23px;
}
.profileShow1:hover{
  background-color: rgb(97, 97, 220);
  transition: all 0.4s;
}