@media only screen and (max-width: 768px) {
    
    #customerReview{
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
        margin-top: 30px;
    
    }
    .review{
        width: 400px !important;
        padding: 20px !important;
    }
    .review p{
        width: 350px !important;
    }
    .img1{
        width: 350px !important;
        height: 350px !important;
    }
    .para1{
        gap:0 !important;
        width: 300px;
    }
    .para1 p{
        width: 250px !important;
    }
    #customer{
        height: 1800px !important;
    }
}
@media only screen and (max-width: 576px) {
    
    #customerReview{
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
        margin-top: 30px;
    
    }
    .review{
        width: 300px !important;
        padding: 20px !important;
    }
    .review p{
        width: 300px !important;
    }
    #middle{
        display: flex !important;
        flex-direction: column !important;
        height: 800px !important;
    }
    .img1{
        width: 300px !important;
        height: 350px !important;
    }
    .para1{
        gap:0 !important;
        width: 300px;
    }
    .para1 p{
        width: 250px !important;
    }
    #customer{
        height: 1800px !important;
    }
}
.img1{
    width: 400px;
    height: 450px;
}
#middle{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #000000f0;
    width: 100%;
    height: 600px;
}
#customer{
    width: 100%;
    height: 1200px;
}

.para{
    width: 500px;
}
.para1{
    display: flex;
    flex-direction: column;
    gap:20px;
    color: white;
}
.read-btn{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffbe33;
    color: white;

}
#customer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}
.review p{
    width: 400px;
}
#customerReview{
    display: flex;
    gap: 20px;
    margin-top: 30px;

}
.review1{
    display: flex;
    flex-direction: column;
    background-color: #222831;
    color: white;
    border-radius: 20px;
}
.reviewimg{
    background-color: white;
}
.review2{
    width: 100px;
    height: 100px;
    border-radius: 400px;
    border: 5px solid gold;
    margin-top: 40px;
}
.review2::before{
    content:"";
    width: 50px;
    height: 50px;
    background-color: #ffbe33;
}
.review{
    width: 500px;
    height: 150px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;


}